@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;

.selectWorkout {
    margin: 1rem;

    &__select {
        background-color: $medGreen;
        border-radius: 5px;
        width: 100%;
    }

    &__item {
        @include exerciseDivider;
    }

    &__btn{
        @include flex-row;
        justify-content: space-between;
    
        &-link {
            width: 100%;
            text-decoration: none;
            color: black;
            box-shadow:  2px 5px 0px 0px $green;
            border-radius: 5px;
        }
    
        &--size {
            width: 100%;
        }
    }
}
