@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;

.selectWorkout {
    margin: 1rem;

    &__select {
        background-color: $medGreen;
        border-radius: 5px;
        width: 100%;
    }

    &__item {
        @include flex-column;
        @include exerciseDivider;

        &-row {
            @include flex-row;
            justify-content: space-between;
            margin-bottom: 1rem;

            &-single {
                background-color: $blue;
                border-radius: 5px;
                width: 47%;
                box-shadow:  2px 5px 0px 0px $darkBlue;
            }

            &--margin {
                margin-top: 1.5rem;
            }
        }
    }

    &__btn{
        @include flex-row;
        justify-content: space-between;
    
        &-link {
            width: 47%;
            text-decoration: none;
            color: black;
            box-shadow:  2px 5px 0px 0px $green;
            border-radius: 5px;
        }
    
        &--size {
            width: 100%;
            height: 100%;
        }
    }
}
