@use "../assets/partials/mixins" as *;
@use "../assets/partials/variables" as *;

.home {
    margin: 1rem;
    @include flex-column;
    align-items: center;
    &__progress {
        border: 2px solid $blue;
        border-radius: 10px;
        height: 15vh;
        width: 100%;
        color: $lightGreen;
        text-align: center;
        padding-top: 2rem;
    }

    &__select-workout {
        background: 
        linear-gradient(rgba($color: $background, $alpha: 0.5), rgba($color: $background, $alpha: 0.5)),
        url("../assets/img/selectWorkout.jpg");
        @include homeCard;
        height: 15vh;
        width: 100%;
        margin: 1rem;
    }

    &__create {
        @include flex-row;
        justify-content: space-around;
        height: 40vh;
        text-align: center;
        width: 100%;

        &-exercise {
            background: 
            linear-gradient(rgba($color: $background, $alpha: 0.5), rgba($color: $background, $alpha: 0.5)),
            url("../assets/img/createExercise.jpg");
            @include homeCard;
            margin-right: 1rem;
            
        }
        &-workout {
            background: 
            linear-gradient(rgba($color: $background, $alpha: 0.5), rgba($color: $background, $alpha: 0.5)),
            url("../assets/img/createWorkout.jpg");
            @include homeCard

        }
    }
}
