@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;

.header {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
    @include divider;

    &__logo {
        padding-top: 1px;
        height: 1.70rem;
    }

    &__title{
        text-decoration: none;
    }

}
