@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;


.createWorkout{
    margin: 1rem;
    
    &__input{
        padding-bottom: 1rem;
        
        &-workout{
            background-color: $blue;
            border-radius: 5px;
            box-shadow:  2px 5px 0px 0px $darkBlue;
            width: 100%;
            &--margin{
                margin-bottom: 1.313rem;
            }
        }
        
        &-exercise{
            background-color: $medGreen;
            border-radius: 5px;
            width: 100%;
        }
    }

    &__btn{
        margin-bottom: 1.5rem;
        width: 100%;
        
        &-link {
            width: 100%;
            text-decoration: none;
            color: black;
            border-radius: 5px;
        }
        
        &--size {
            width: 100%;
            height: 100%;
        }
        
        &--divider{
            padding-bottom: 1rem;
            @include exerciseDivider;
        }
    }

    &__item {
        @include exerciseDivider;
        margin-bottom: 1rem;
    }
}